body {
    font-family: arial, sans-serif;
    font-size: 18px;
    padding: 5px;
}

#root {
	width: 100%;
	max-width: 400px;
	margin: 10px auto;
}

.login-wrap {
	h3 { 
		margin: 0 auto;
		display: inline-block;
	}

	.input-group {
		margin-bottom: 10px;
	}
}


.invest-wrap {
	.investments {
		margin-top: 20px;
		margin-bottom: 20px;
		button {
			width: 80%;
			margin: 5px auto;
			display: block;
		}
	}
}
