<div>
	<div class="page-header">
		<h1>THOSDAQ <small>Investment Dashboard</small></h1>
	</div>

	<div class="input-group">
		<span class="input-group-addon">Investor name</span></span>
		<input id="author" type="text" class="form-control">
	</div>

	<div class="investments">
		<button type="button" class="btn btn-primary btn-lg investment-btn" data-points="10">Mieto</button>
		<button type="button" class="btn btn-primary btn-lg investment-btn" data-points="15">Viini</button>
		<button type="button" class="btn btn-primary btn-lg investment-btn" data-points="25">Tiukka</button>
		<button type="button" class="btn btn-primary btn-lg investment-btn" data-points="35">Pirtu</button>
		<hr />
		<button type="button" class="btn btn-primary btn-lg investment-btn" data-points="8">Snus</button>
		<button type="button" class="btn btn-primary btn-lg investment-btn" data-points="5">Rök</button>
	</div>

	<button type="button" class="btn btn-warning" id="logout-button">Logout</button>
</div>
